@CHARSET "UTF-8";

body {
	background-color: #eee;
	color:#323232;
}

a,a:link,a:visited {
	color:#323232;
    outline:none;
    text-decoration:none;
}

nav {

	padding-left:10%;
	padding-right: 10%;
}

.navbar-nav {
	background-color: #eee;
	color:#323232;
}

#navbar {
		background-color: #eee;
		color:#323232;
		margin-top: 20px;
}

#animate-area	{ 
	background-position: 0px 0px;
	background-repeat: repeat;
	zoom:1; 
	padding-top: 50px;
	margin-bottom:: 50px;

}

.navbar-header a{
	margin-top:20px;
    outline:none;
    text-decoration:none;
	font: 15px Arial, Helvetica, sans-serif; 
    color:white;  
    width:305px;  
    padding:20px;  
    background:black;  
    text-align:center;  
    text-transform:uppercase;  
    letter-spacing:20px;  
    zoom: 1;  
    filter: alpha(opacity=50);  
    opacity: 0.5; 
   	margin-left: 35%;   

}

.main-content {
	padding: 40px;
	padding-left:10%;
	padding-right: 10%;
}

.navbar-brand {
	line-height: 300%;
	font-family: 'Press Start 2P', cursive;
	font-size: 100%;
	width: 100%;

}


.login-page {

	padding-bottom: 40px;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}